*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

#xml-to-json{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}

.input-wrapper, .output-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    margin: auto;
    grid-template-rows: auto max-content;
}

.input-wrapper > div:first-of-type, .output-wrapper > div:first-of-type{
    display: grid;
    width: 100%;
    grid-template-rows: max-content auto;
    padding: 5px 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

#xml-input, #json-content{
    /* width: 620px; */
    /* height: 385px; */
    width: 100%;
    height: 100%;
    max-width: 100%;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 5px;
    white-space: pre;
}

button{
    background-color: #0D6EFD;
    color: white;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    width: max-content;
    box-sizing: content-box;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    margin: 2.5px;
}